body { 
	font-family: 'Montserrat', DejaVu Sans, Verdana, sans‑serif !important; 
	
}

.btn:not(.btn-recurring), .donation .amount-value { 
	font-family: inherit; 
	font-size: 1em !important; 
	
}

.btn-submit { 
	text-transform: none !important; 
	
}


.cta_box-yellow { 
	border-radius: 4px;
	color:#000 !important; 
	font-size:14pt !important; 
	padding:0.5em !important; 
	margin: 0  !important; 
	border: 2px solid #000; 
	background: yellow; 
	text-align:center; 
}
.cta_box-yellow p { color:#000 !important; 
	font-size:14pt !important; 
	padding:0 !important; 
	margin: 0  !important; 
	text-align:center; 
}

.additional-field:not(.additional-field-sms):not(.additional-field-SMS) .help-text { 
	color: #000000;
	line-height: 1.4;
	font-size: 12pt; 
	font-weight: bold; 
	margin-bottom: 1em; 
	margin-top: 1.5em; 
	
}

.additional-field.additional-field-sms p.help-text, .additional-field.additional-field-SMS p.help-text {
	color: #697a8b;
	font-size: 10pt;
	font-weight: normal;
}

.landing-page-recurring-button {
	color:  #000000;
	font-weight: bold !important;
}

.recurring-prompt {
	display: none;
}

.btn.btn-recurring.btn-recurring-no-style-update.btn-default-recurring.active {
	background-color: #D0021A !important;
	color: #ffffff !important; 
	
}

.selected {
	animation: none !important;
}